body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gary-logo:hover {
    transform: scale(1.1);
}


/* ------ STYLING FOR THE BACKGROUND ------ */

#bg-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -999;
}